{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto">
      <h1 class="display-4 font-weight-normal" id="{{ name_id }}"></h1>
      <img class="bd-placeholder-img card-img-top my-5" src="{{ img_url }}">
      <p class="lead font-weight-normal" id="{{ desc_id }}" style="white-space: pre-line;"></p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
  <footer class="text-body-secondary">
    <div class="container">
      <p class="float-end mb-5">
        <a href="{{ url_for('home_page') }}" id="back-home" type="button" class="btn btn-outline-secondary"></a>
      </p>
    </div>
  </footer>
{% endblock %}