{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
  <main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for id in articles.keys() %}
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="{{ articles[id] }}">
                  <div class="card-body">
                    <strong id="id{{ id }}-title" style="font-size: 1.5em;"></strong>
                    <p class="card-text" id="id{{ id }}-desc-short"></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary"></small>
                        <a type="button" class="btn btn-outline-secondary" href="{{ url_for('about_page', id=id ) }}" id="id{{ id }}-view"></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
  </main>
  <footer class="text-body-secondary py-5">
    <div class="container text-center">
      {% if page > 1 %}
          <a href="{{ url_for('home_page', page=page-1) }}" class="btn btn-sm btn-outline-secondary" id="previous-page"></a>
      {% endif %}
      <span id="home-page-1"></span>
      <span>{{ page }}</span>
      <span id="home-page-2"></span>
      {% if articles|length == 9 %}
        <a href="{{ url_for('home_page', page=page+1) }}" class="btn btn-sm btn-outline-secondary" id="next-page"></a>
      {% endif %}
    </div>
  </footer>
{% endblock %}